
     .all_transactions{
      min-width: 500px;
  
     }
      .transaction_list li{
        list-style: none;
        width: 86%;

      }

      .show_trans{
       
        display:flex;
    justify-content: space-evenly;
    align-items: center;

      }
      .div_items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .main_card{
        min-width: 90%;
        height: auto;
        
      }
     .trans_header{
        padding:5px;
        display: flex;
        justify-content: space-around;
     }
